<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>LetStep | Şifremi Unuttum</title>
    <link rel="stylesheet" href="/static/css/auth.css">
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <div class="login-page-wrapper">
        <div class="login-branding-side"></div>
        <div class="login-form-side">
            <a href="/" class="logo form-side-logo">Let<span>Step</span></a>
            <div class="login-form-container">
                <h2>Şifreni Sıfırla</h2>
                <p>Kayıtlı e-posta adresinizi girin, size şifrenizi sıfırlamanız için bir bağlantı göndereceğiz.</p>
                <form id="forgot-password-form">
                    <div id="form-message" class="form-message"></div>
                    <label for="email">E-posta Adresi</label>
                    <input type="email" id="email" name="email" placeholder="example@mail.com" required>
                    <button type="submit" class="btn btn-secondary">Sıfırlama Linki Gönder</button>
                    <a href="/login" class="btn btn-primary" >Giriş ekranına dön</a>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/js/forgot-password.js"></script>
</body>
</html>